*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todolist{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.hello{
    width: 95%;
}
.editsite{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid black;
    gap: 20px;
    width: 95%;
    flex-direction: row ;
    justify-content: space-between;
}
.editsite .btn{
    margin: 5px;
    display: flex ;
    flex-direction:row !important;
}
.editsite .li{
    word-break: break-all;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main h1{
    background-color: blue !important;
    padding: 20px;
    width: 100%;
    color: white;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 5px 10px 1px black;
    padding: 30px 0px 30px;
}
.input input{
    width: 100%;
}
.input button{
    margin:5px 5px;
}